*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: #333333; 
}

body::-webkit-scrollbar-thumb {
  background-color: #191919;
}

.topnav {
  overflow: hidden;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 1rem;
  height: 8vh; 
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.topnav-bg-black {
  background-color: #1b1b1b;
  opacity: 0.8;
}

.logo{
  /* text-align: center; */
  padding-left: 4rem;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
}

.all-icons{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.topnav .left-buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.topnav .right-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding-right: 4rem;
}

.topnav .left-buttons a {
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
  margin: 0 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.topnav .left-buttons .peach:hover {
  border-bottom: 4px solid #f2f2f2;
  transform: translateY(2px);
}

.topnav-active-link {
  border-bottom: 4px solid #f2f2f2;
  transform: translateY(2px);
}

.topnav .left-buttons a:first-child {
  font-size: large;
  padding: 1rem;
}

.topnav .right-buttons a {
  padding: 0.5rem;
  width: 100px;
  height: 35px;
  font-size: 15px;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: height 0.5s, width 0.5s;
  overflow: hidden;
  margin: 0 20px;
}
.topnav .right-buttons .signup {
  width: 100px;
}
.right-buttons .login i {
  display: none;
}
.topnav .right-buttons .signup i {
  display: none;
}
.topnav .right-buttons .login:hover {
  cursor: pointer;
  width: 120px;
}
.topnav .right-buttons .signup:hover {
  cursor: pointer;
  width: 120px;
  overflow: hidden;
}
.topnav .right-buttons .login:hover i {
  display: inline;
}
.topnav .right-buttons .signup:hover i {
  display: inline;
}
.topnav a.active {
  color: white;
  font-family: "Pacifico";
}

.topnav a.peach {
  color: #f8e7d5;
  height: 8vh;
}

.topnav a.current {
  background-color: #f8e7d5;
  color: #24191b;
}

.topnav a.login {
  color: #f8e7d5;
  border-radius: 15px;
  outline: none;
}

.topnav a.signup {
  background-color: #f8e7d5;
  color: #24191b;
  border-radius: 15px;
  outline: none;
}

.topnav .nav-search-form {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.topnav .nav-search-form button {
  border: none;
  /* background-color: rgba(172, 103, 103, 0.2); */
  background-color: transparent;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.topnav .nav-search-form input[type=text] {
  border: none;
  /* background-color: rgb(15, 10, 10, 0.2); */
  background-color: transparent;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 5rem;
  padding: 0.2rem;
  transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.topnav .nav-search-form input[type=text]:focus {
  width: 12rem;
  outline: none;
}
